@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
  --clr-primary-desatRed: hsl(0, 36%, 70%);
  --clr-primary-softRed: hsl(0, 93%, 68%);

  --clr-neutral-grayRed: hsl(0, 6%, 24%);

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}


/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border-radius: 100vmax;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

form{
  position: relative;
}

input{
  border: 1px solid var(--clr-primary-desatRed);
  padding: 1em 2em;
  margin-bottom: .75em;
  width: 100%;
}

input:focus,
input:active,
button:focus,
button:active{
  outline: none;
}

input::placeholder{
  color: var(--clr-primary-desatRed);
}

small{
  font-size: 1rem;
  margin-left: 1.5em;
  color: var(--clr-primary-softRed);
  display: none;
}

.button{
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
  padding: 1em 2em;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.button:hover{
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 80%, 86%));
  transition: .5s;
  box-shadow: 2px 5px 10px var(--clr-neutral-grayRed);
}

.error-icon{
  display: none;
  position: absolute;
  top: 1.2rem;
  right: 5rem;
}

form.error input{
  border: 2px solid var(--clr-primary-softRed);
}

form.error .error-icon{
  display: block;
}

form.error small{
  display: block;
}

.inner-container > * + *{
  margin-bottom: 2.5rem;
}

.container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 60% 40%;
  background-image: url("/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left{
  padding: 4em 2em;
}

.inner-container{
  max-width: 30rem;
}

.logo{
  margin: 3.75rem 0;
  width: 10rem;
}

.left h1{
  color: var(--clr-neutral-grayRed);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 3.5rem;
  line-height: 1.3;
}

.left h1 span{
  color: var(--clr-primary-desatRed);
  font-weight: var(--fw-300);
}

.left p{
  color: var(--clr-primary-desatRed);
  font-size: 1.2rem;
}

.bg-image{
  background-image: url("/images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-mobile{
  display: none;
}

@media (max-width: 45em){

  .container{
    grid-template-columns: 1fr;
  }

  .bg-mobile{
    display: block;
    width: calc(100% + 8em);
  }

  .logo{
    width: 8rem;
  }

  .right{
    display: none;
  }

  .left{
    display: flex;
    justify-content: center;
  }

  .left h1{
    font-size: 3rem;
    letter-spacing: .75rem;
    line-height: 1.2;
    text-align: center;
  }

  .left p{
    text-align: center;
    font-size: 1.2rem;
  }

  .inner-container{
    width: 100%;
  }
}